.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.smurfs-list {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background: #9CE6BC;
  border: 5px solid white;
  border-radius: 25px;
  width: 50%;
  color: #330BE3;
}

.smurf {
  display: flex;
}

.smurf-name {
  margin-right: 5%;
  color: #C096E3;
  padding-bottom: 10px;
}

.smurf-age {
  margin-right: 20%;
  color: #C096E3;
  padding-bottom: 10px;
}

.smurf-height {
  margin-right: 2%;
  color: #C096E3;
}


