.App {
  text-align: center;
}

body {
  height: 200vh;
  border: none;
  background-image: linear-gradient(#C096E3, #B1D6FA);
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

